body {
    font-family: "PT Sans Narrow", "Arial";
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: black;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    min-width: 1200;
    min-height: 1750;
    background-image: url(../img/index/texture.jpg)
}
h1 {
    font-size: 30px;
    line-height: 42px;
}
h2 {
    background-color: #e065e1;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 35px;
}
a {
    text-decoration: none;
    color: white;
}
.main-navigation-list>li,.breadcrumbs>li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}
.main-navigation-list>li {
    padding: 0 15px;
    font-size: 16px;
    margin-right: 9px;
    padding-top: 37px;
    padding-bottom: 14px;
}
.container {
    background-color: #6768e1;
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}
.main-header {
    width: 100%;
    background-color: black;
    margin-bottom: 51px;
    padding-top: 0;
    padding-bottom: 0px;
}
.logo {
    float: left;
    margin-left: 20px;
    margin-right: 25px;
    margin-top: 48px
}
.main-navigation {
    background-color: black;
    float: left;
    width: 740px;
}
.user-block {
    background-color: black;
    float: right;
    text-align: center;
    padding: 15px 18px;
    margin-top: 36px;
    font-size: 16px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
h1 {
    background-color: #e3e26a;
    float: left;
    width: 591px;
    margin: auto;
    margin-bottom: 20px;
}
.breadcrumbs {
    background-color: #e3e26a;
    float: left;
    width: 640px;
    padding: 0px;
    margin: auto;
    margin-bottom: 50px;
}
.images {
    float: left;
    background-color: #e3e26a;
    width: 460px;
    margin-right: 80px;
}
.item-image>img {
    background-color: #e3e26a;
    margin-bottom: 15px;
}
.item-images {
    float: left;
    background-color: #e065e1;
    width: auto;
    font-size: 0;
}
.item-images>a {
    display: inline-block;
    margin-right: 20px;
    padding: 0;
}
.item-images>a:last-child {
    margin-right: 0px;
}
.item-description {
    background-color: #e3e26a;
    float: left;
    width: 380px;
    padding: 10px;
    margin: auto;
}
.item-description-top {
    background-color: #65dd64;
}
.item-avalable {
    background-color: #e065e1;
    float: left;
    margin-bottom: 15px;
    margin-top: 10px;
}
.item-article {
    background-color: #e065e1;
    float: right;
    margin-bottom: 15px;
    margin-top: 10px;
}
.item-price {
    width: 190px;
    display: inline-block;
    font-size: 0;
    margin-bottom: 50px;
}
.item-description-main {
    margin-bottom: 35px;
}
.item-price-rub {
    background-color: #e5e5e5;
    font-size: 14px;
    float: left;
    text-align: center;
    width: 109px;
    padding: 12px 0;
}
.item-price-button {
    display: block;
    text-align: center;
    background-color: black;
    font-size: 14px;
    padding: 12px 0;
}
.item-set-list {
    margin-left: 20px;
    background-color: #65dd64;
    padding: 0px;
    list-style-image: url(../img/item/romb.svg);
}
.main-footer {
    width: 100%;
    background: black;
    margin-top: 50px;
    padding-top: 60px;
    padding-bottom: 40px;
}
.footer-contacts {
    background-color: #e065e1;
    float: left;
    width: 320px;
}
.footer-social {
    background-color: #e065e1;
    float: left;
    width: 180px;
    margin-left: 60px;
}
.footer-copyright {
    background-color: #e065e1;
    float: right;
    width: 180px;
}
.catalog-pick    {
    float: left;
    clear: both;
    width: 175px;
    background-color: #e065e1;
    margin-right: 60px;
    font-size: 14px;
}
input[type="checkbox"] + label {
    display: inline-block;
    background: url(../img/shop/checkbox-off.png) no-repeat 1px;
    width: 125px;
    padding: 9px 0;
    margin-bottom: 1px;
    padding-left: 45px
}
input[type="checkbox"] + label:last-child {
    margin-bottom: 45px;
}
input[type="checkbox"]:checked + label {
    background: url(../img/shop/checkbox-on.png) no-repeat 1px;
}
input[type="radio"] + label {
    display: inline-block;
    background: url(../img/shop/radio-off.png) no-repeat 1px;
    width: 125px;
    padding: 9px 0;
    margin-bottom: 1px;
    padding-left: 45px
}
input[type="radio"]:checked + label {
    background: url(../img/shop/radio-on.png) no-repeat 1px;
}
input {
    display: none;
}
input[type="submit"] {
    display: block;
    padding: 14px 29px 14px 34px;
    margin-top: 40px;
    background: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: inherit;
    border: none;
    
}
.pick-container>h2 {
    padding: 0px;
    margin: -5px 1px;
    margin-bottom: 20px;
    clear: both;
}
.catalog-items {
    float: right;
    width: 700px;
    font-size: 0px; 
}
.item {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 285px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
}
.item:nth-child(3n+3) {
    margin: 0px;
}
.item-name {
    width: 170px;
    height: 45px;
    padding: 5px;
    padding-left: 15px;
    padding-bottom: 3px;
    font-size: 14px;
    text-transform: none;
}
.item-name>a {
    color: black;
}
.item-bottom {
    padding: 0px 15px;
    padding-bottom: 15px;
}